body{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
    background-color:#FEFBF9;
}
a { 
    color:#0000FF; text-decoration:none; 
}
ul {
    list-style: none;
    padding-left: 0;
    text-align: center;
    vertical-align: middle;
  }
.container {
    width:1145px;
    margin: 0 auto;
    text-align: center;
}
.btn1{
    float:left;
    font-size: 14px;
    font-family: 'Signika', sans-serif;
    font-style: normal;
    padding: 0 11px 20px 13px;
}
.shopping {
    color:rgb(218, 162, 170);
    font-size: 30px;
    float: left;
    position: absolute;
    top:1px;
}
.btn2 {
    color:black;
    float: left;
    font-size: 16px;
    padding-bottom: 17px;
}
li a {
    color:rgb(64,99,93);
}
.twitter {
    padding: 0 13px 17px 38px;
}
header {
    height: 60px;
    width: 100%;
    background-color:#FEFBF9;
    position:fixed;
    z-index: 50;
}
li{
    display:inline-block;
}
.logo1 {
    padding-top: 90px;
    height: 150px;
 
}
.main-logo {
    height: 260px;
    text-align: center;
}
.top-pic {
    width: 100%;
    box-shadow: 0 1px 1px 1px rgba(173, 170, 169, 0.5);
}

h1 {
    font-family: 'Cormorant Garamond', serif;
    color: #213290;
    font-size: 40px;
    font-style: normal;
    padding-top:7px;
    padding-bottom:15px
}
p {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 18px;
    color: #213290;
}
.top-box {
    text-align: center;
}
.item-icon {
    padding:0 3px;
    display: inline-block;
}
.item-icon img {
    position: relative;
    width: 290px;
    display: inline-block;
}
.item-icon p {
    position: absolute;
    top: 0px;
    color:white;
    font-family: 'Playfair Display', serif;
    background-color: #D09CA6;
    padding:8px 20px;
}

.item {
    display: inline-block;
    padding:0 10px;
    position: relative;
}
.items {
    padding-top:65px;
}
.contents1p {
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 18px;
    color: #213290;
}
.contents1{
    padding-top: 75px;
}

.contents2 {
    position: relative;
    height: 500px;
}
.contents2-1 {
    width: 380px;
    position: absolute;
    top: 40px;
    left: 150px;
}
.contents2-2 {
    width: 350px;
    position: absolute;
    top: 160px;
    left: 170px;
}
.contents2-3 {
    width: 400px;
    position: absolute;
    top:265px;
    left:145px;
}
.contents2-4 {
    width: 410px;
    position: absolute;
    top:345px;
    left:160px;
}
.drop1{
    color:#FF909D;
    font-size:30px;
    position: absolute;
    top:50px;
    left: 270px;
}
.drop2{
    color:#FF909D;
    font-size:30px;
    position: absolute;
    top:25px;
    left: 360px;
}
.contents2-5 {
    font-size: 200px;
    color: #FFD04E;
    position: absolute;
    top: 65px;
    left: 770px;
}
.txt {
    color: #213290;
}
.txt2-1 {
    position: absolute;
    top: 105px;
    left: 579px;
    text-align: left;
}
.txt2-2 {
    position: absolute;
    top: 210px;
    left: 590px;
    text-align: left;
}
.txt2-3 {
    position: absolute;
    top: 325px;
    left: 605px;
    text-align: left;
}
.txt2-4 {
    position: absolute;
    top: 470px;
    left: 610px;
}
.txt2-5 {
    font-size:17px;
    position: absolute;
    top: 180px;
    left: 810px;
}
.txt2-6 {
    position: absolute;
    top: 235px;
    left: 850px;
    size:8px;
}
.contents3 {
    position: relative;
    height:300px;
}
    
.txt3 {
    padding-top:100px;
    position: absolute;
    top:5px;
    left: 390px;
}
.contents3-1 {
    color: #FFE1DB;
    font-size: 200px;
    position: absolute;
    top: 20px;
    left: 335px;
}
.contents3-2 {
    color: #FFE1DB;
    font-size: 200px;
    position: absolute;
    top: 40px;
    left: 590px;

}
.border1{
    border-top:2px solid #213290;
    width: 60px;
    position: absolute;
    top: 110px;
    left: 505px;
    transform:rotate(11deg);
}
.border2{
    border-top:2px solid #213290;
    width: 60px;
    position: absolute;
    top: 225px;
    left: 510px;
    transform:rotate(6deg);
}
.border3{
    border-top:2px solid #213290;
    width: 65px;
    position: absolute;
    top: 336px;
    left: 516px;
    transform:rotate(15deg);
}
.border4{
    border-top:2px solid #213290;
    width: 97px;
    position: absolute;
    top: 455px;
    left: 503px;
    transform:rotate(15deg);
}
.wash-wrapper {
    height:400px;
}
.wash {
    position: relative;
}
.wash-img1 {
    position: absolute;
    top: 26px;
    left: 640px;
    height: 100px;
    transform: rotateZ(335deg);
}
.wash-img2 {
    position: absolute;
    top: 63px;
    left: 555px;
    height: 140px;
}
.wash-img3 {
    position: absolute;
    top: 95px;
    left: 215px;
    height: 210px;
}
.wash-img4 {
    position: absolute;
    top: 115px;
    left: 450px;
    height: 230px;
}
.wash-img5 {
    position: absolute;
    top: 125px;
    left: 772px;
    height: 197px;
}
.arrow1 {
    position: absolute;
    top: 190px;
    left: 695px;
    font-size: 50px;
    color:#FC5301;
}
.arrow2 {
    position: absolute;
    top: 190px;
    left: 415px;
    font-size: 50px;
    color:#FC5301;
}

.txtw {
    color:#213290;
}
.txt4 {
    position: absolute;
    top: 330px;
    left: 235px;
}
.txt5 {
    position: absolute;
    top: 330px;
    left: 520px;
}
.txt6 {
    position: absolute;
    top: 330px;
    left: 815px;
}
.contents4-wrapper {
    height: 255px;
}
.contents4 {
    display:block;
    color:white;
    width: 350px;
}
.btn3 {
    width: 365px;
    height: 30px;
    margin: 40px auto;
    background-color: #213290;
    font-size:16px;
    padding:11px 0;
}
.btn4 {
    width: 365px;
    height: 30px;
    margin: 10px auto;
    background-color: #213290;
    font-size:16px;
    padding:12px 0;

}
.contents4:hover {
    transition: all 0.5s;
    background-color:rgb(201, 190, 170);
    color: black;
    
}
footer {
    height: 550px;
    width: 100%;
    background-color:#40635D;
    font-family: 'Signika', sans-serif;
}
footer a {
    color: #DFBDC4;
    
}
footer p {
    color: #DFBDC4;
    display: inline-block;
}
footer li {
    display:list-item;
    font-family: 'Signika', sans-serif;
    font-style: normal;
    font-size: 14px;
    text-align: left;
}
.footer1 {
    height: 90px;
    font-size: 25px;
    padding-top: 85px;
    padding-left:200px;
}
.footer1 a {
    float: left;
    padding-right:185px;
}
.footer2 {
    display: block;
    height: 200px;
    line-height:0;
}
.footer2-1 {
   float: left;
   padding-left: 200px;
}
.footer2-4{
    padding-top:77px;
}
.footer2-2 {
    float: left;
    padding-left: 122px;
}
.footer2-3 {
    display: inline-block;
    padding-right:150px;
}
.footer2-3 p {
    font-size: 14px;
    display:inline;
}
.footer3{
    font-size: 18px;
    display: inline-block;
    font-family: 'Cormorant Garamond', serif;
    color: #213290;
    margin:24px 480px 0 0;
}

.footer-btn {
    position:relative;
 
}
.footer-twitter {
    padding-left: 887px;
    float:left;
    height:70px;
    width: 70px;
}
.btn6-1 {
    color:white;
    font-size:63px;
}
.btn5-twitter{
    display: inline-block;
    position: absolute;
    color:#40635D;
    font-size:30px;
    top:20px;
    left:907px;
}
.footer-insta {
    display: inline-block;
    height:70px;
    width: 70px;
    position: absolute;
    left:963px;
}
.btn6-2 {
    color:white;
    font-size:63px;
}
.btn5-insta{
    position: absolute;
    color:#40635D;
    font-size:38px;
    top:14px;
    left:19px;
}
.footer-name {
    width: 200px;;
    margin: auto;
}
.footer-name p{
    font-family: 'Raleway', sans-serif;
    font-size:14px;
    padding-bottom: 15px;
}
.chat-wrapper {
    position: fixed;
    right:20px;
    bottom:20px;
}
.chat-btn {
    background-color: rgb(218, 162, 170);
    width: 240px;
    height:55px;
    border-radius: 8px;
    position:relative;
}
.chat-p{
    line-height: 55px;
    color:white;
    font-size:18px;
    font-family: 'Signika', sans-serif;
    font-style: normal;
}
.chat-btn span{
    font-size:25px;
    padding-right:10px;
    line-height: 55px;
}
.chat-pp {
    color:rgb(218, 162, 170);
    position:fixed;
    right:211px;
    bottom:2px;
}
.chat-pp span{
    font-size:5px;
}
